/* styles the font of most text on the site */
body {
    text-align: center;
    background-color: lightcoral;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

/* 
    Creates a table with white borders around each cell and
    centers the table. There is also an option to create 
    a table with no borders at all 
*/
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 450px;
}

table.bottomLeft {
    text-align: left;
}

table.borders {
    border: 2px solid white;
    border-collapse: collapse;
}
  
tr.borders {
    border-bottom: 2px solid white;
}

th {
    border-left: 2px solid white;
}

/* Centers some text across multiple cells at the top of a table */
th.title {
    position: relative;
    left: 115px;
}

th.subTitle {
    border-left: 2px solid white;
}

td.borders {
    border-left: 2px solid white;
}

hr {
    width: 50%;
}

/* 
    All images have a 4px blueish border and have the capabiity to
    have a centered caption below them. Depending on which class is 
    used (left/right), the image is placed on the left or right borders
    of the screen
*/
img {
    width: 200px;
    height: auto;
    border: 4px solid lightseagreen;
    display: block;
    text-align: justify;
} 

.left {
    float: left;
    position: absolute;
    left: 75px;
}

.right {
    float: right;
    position: absolute;
    right: 75px;
}

/* All list elements are algined in the center of the page */
ul {
    display: table;
    margin: 0 auto;
    align-items: center;
  }

li {
    position: relative;
    right: 20px;
}

/* The footer elements are placed at the bottom left of the page */
footer {
    position: absolute;
    left: 15px;
}