body {
    text-align: center;
    background-color: lightcoral;
}

hr {
    width: 50%;
}

img {
    width: 200px;
    height: auto;
    border: 4px solid lightseagreen;
    float: left;
}

.runningShoes {
    text-align: justify;
    width: 200px;
}

.runningShoes img {
    display: block;
    margin: 0 auto;
}